@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

body {
  background-image: url("../assets/backg.jpg");
  font-family: "Arial", sans-serif;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

h1,
h5,
h3,
h4,
p,
table,
.lead {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #3498db;
}

.btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}

.btn-outline-light:hover {
  background-color: #3498db;
  color: #001f3f;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #002d4f;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

mark {
  background-color: skyblue;
  color: black;
}

/* Media Queries */
@media (max-width: 768px) {
  .btn-outline-light {
    width: 100%;
    font-size: 1em;
  }
}

@media (max-width: 576px) {
  .card {
    margin-bottom: 20px;
  }
  .btn-outline-light {
    font-size: 0.9em;
  }
}
